.lande_page {
  display: grid;
  place-items: center;
  height: 81vh;
}

.login_page {
  background: rgb(236, 150, 58);
  background: linear-gradient(90deg, rgba(236, 150, 58, 1) 0%, rgba(183, 162, 110, 1) 43%, rgba(73, 182, 228, 1) 96%);
  height: 100vh;

}

img {
  text-align: center;
}


.start_page {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  padding: 30px;
  background-color: #fff;
  border-radius: 30px;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #CED4DA;
  outline: unset !important;
  box-shadow: 0px 2px 6px 0px rgb(0 0 0 / 8%);
}

.custom-shape-divider-bottom-1674115018 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1674115018 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120px;
}

.custom-shape-divider-bottom-1674115018 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-top-1674114838 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 126px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1674114838 .shape-fill {
  fill: #FFFFFF;
}

@media only screen and (min-width:280px) and (max-width: 500px) {
  .login_page {
    background: rgb(236, 150, 58);
    background: linear-gradient(90deg, rgba(236, 150, 58, 1) 0%, rgba(183, 162, 110, 1) 43%, rgba(73, 182, 228, 1) 96%);
    padding: 9px;
  }

  .start_page {
    width: inherit;
    margin-top: 47px;
  }

  .custom-shape-divider-bottom-1674115018 {
    display: none;
  }

  .swing {
    margin-left: 22px;
  }

  .waviy {
    margin-left: 43px;
  }

}

.swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -1px;
}


@keyframes swing {
  0% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(-3deg);
  }

}

.waviy {
  position: relative;
}

.waviy span {
  position: relative;
  display: inline-block;
  font-size: 30px;
  color: black;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}

@keyframes flip {

  0%,
  80% {
    transform: rotateY(360deg)
  }
}

.another_tab {
  display: flex;
  justify-content: space-between;
}

.register {
  text-decoration: none;
}

.Forget {
  text-decoration: none;
}
