* {
  margin: 0;
  padding: 0;
}

body{
  height: auto;
  width: 100%;
  background: rgb(236, 150, 58);
  background: linear-gradient(90deg, rgba(236, 150, 58, 1) 0%, rgba(183, 162, 110, 1) 43%, rgba(73, 182, 228, 1) 96%);
}

